<div class='link well span11'>
  <div class='link_left'>
    <h2>Share this link to grow your tree:</h2>
    <%= text_field_tag 'seed_link', link.url %>
    <div class='social'>
      <%= link_to 'Tweet', "http://twitter.com/share?text=Visit%20SeedTheLearning.com%20and%20I%20will%20donate%20$1%20to%20DonorsChoose.org!%20Easiest%20Karma%20ever:&url=http://seedthelearning.com/participants/#{link.text}", class: 'twitter' %>
      <%= link_to 'Share on Facebook', link.facebook_url, class: 'facebook' %>
      <%= link_to 'Pin It', "http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fseedthelearning.com%2Fparticipants%2F#{link.text}&media=http%3A%2F%2F1337807.com%2Fimages%2Fpinterest_screenshot.jpg&description=Visit%20SeedTheLearning.com%20and%20I%20will%20donate%20%241%20to%20DonorsChoose.org!%20Easiest%20Karma%20ever:%20http%3A%2F%2Fseedthelearning.com%2Fparticipants%2F#{link.text}", class: 'pinterest' %>
      <div class='clearfix'></div>
    </div>
  </div>

  <div class='link_right'>
    <ul class='seed_values'>
      <li class='well'><p>Seed</p><h2 class='seed'>$<%= seed_amount_in_dollars(link.seed_id) %></h2></li>
      <li class='well'><p>Clicks</p><h2 class='clicks'><%= seed_participant_count(link.seed_id) %></h2></li>
      <li class='well'><p>Total</p><h2 class='total'>$<%= seed_total_raised(link.seed_id) %></h2></li>
    <div class='clearfix'></div>
  </ul>
  </div>
</div>
