<div id='header'>
  <h1>Seed The Learning</h1>
</div>
<div class='row'>
  <div id='seed'>
    <%= form_for @seed do |f| %>
      <%= content_tag :span, "I will donate", id: 'seed_left_text' %>
      <%= f.text_field :amount_dollars %>
      <%= content_tag :span, "to", id: 'seed_right_text' %>
      <%= f.submit "Change Kids' Lives", class: 'btn-large btn-success', id: 'submit' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div id='walkthrough'>

    <div class='step span4'>
      <div class='well'>
        <div class='step_left'>
          <h3>Plant Your Seed</h3>
          <p>Pledge to donate as little as $1 to help children on <%= link_to 'donorschoose.org' %> get the education they need.</p>
        </div>
        <%= image_tag 'walkthrough_seed.png' %>
        <div class='clearfix'></div>
      </div>
    </div>

    <div class='step span4'>
      <div class='well'>
        <div class='step_left'>
          <h3>Share Your Link</h3>
          <p>Share the link with your friends. When they visit, we unlock $1 of your donation until your seed is gone.</p>
        </div>
        <%= image_tag 'walkthrough_link.png' %>
        <div class='clearfix'></div>
      </div>
    </div>

    <div class='step span4'>
      <div class='well'>
        <div class='step_left'>
          <h3>Grow Your Tree</h3>
          <p>See your impact as friends use your link and your tree grows.</p>
        </div>
        <%= image_tag 'walkthrough_kids.jpg' %>
        <div class='clearfix'></div>
      </div>
    </div>

  </div>
</div>

<div id='tree'>
</div>

<% content_for(:javascript) do %>
  givingTree.startDemo()
<% end %>
